# Global defaults used by scripts
TZ=America/Los_Angeles

# RAID names (you can customize)
SSD_RAID_NAME=warmstore
NVME_RAID_NAME=faststore

# Mount points (created if missing)
MEDIA_MOUNT=/Volumes/Media
PHOTOS_MOUNT=/Volumes/Photos


# Future HDD archival tier
COLD_RAID_NAME=coldstore
ARCHIVE_MOUNT=/Volumes/Archive
# COLD_DISKS="disk12 disk13"   # Example
