<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>io.homelab.updatecheck</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>-lc</string>
    <string>cd /mnt/data/mac-mini-homeserver && ./scripts/80_check_updates.sh</string>
  </array>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Weekday</key><integer>0</integer>
      <key>Hour</key><integer>3</integer>
      <key>Minute</key><integer>30</integer>
    </dict>
  </array>
  <key>StandardOutPath</key><string>/var/log/homeserver-updatecheck.out.log</string>
  <key>StandardErrorPath</key><string>/var/log/homeserver-updatecheck.err.log</string>
  <key>RunAtLoad</key><false/>
</dict>
</plist>
